{% extends "login/main.html" %}

{% block active_expend %} active {% endblock %}

{% block body %}

<br>
<div class="container-fluid">
    <div class="row">

        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">CURRENT MONTH

                            </div>
                            <div class="h4 mb-0 font-weight-bold text-gray-800">{{currnt}} </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-rupee-sign fa-3x text-info"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">PREVIOUS MONTH
                            </div>
                            <div class="h4 mb-0 font-weight-bold text-gray-800">{{pre_mon}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-funnel-dollar fa-3x text-success"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">TOTAL FEE DUE CURRENT
                                YEAR
                            </div>
                            <div class="h4 mb-0 font-weight-bold text-gray-800">
                                {{pre_mon|add:currnt|add:total_expend}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-hand-holding-usd fa-3x text-danger"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="card-body">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header bg-info py-3">
                <h3 class=" mb-2 text-white "><i class="fas fa-rupee-sign"></i> Expenditure</h3>
            </div>
            {% if messages %}
            {% for msg in messages %}


            <div class="alert alert-info alert-dismissible fade show" role="alert" id="msg">
                <strong>Alert : </strong> <b>{{msg}}</b>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            {% endfor %}

            {% endif %}
            <!-- Page Heading -->
            <div class="card mx-3 my-5 shadow">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item ">
                            <a class="nav-link active text-dark" data-toggle="tab" href="#new"><strong>New
                                    Expenditure</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" data-toggle="tab" href="#view"><strong>View
                                    Expenditure</strong></a>
                        </li>

                    </ul>
                </div>

                <div class="tab-content card-body">
                    <!-------------------- Insert Expenditure  -------------------->
                    {% load crispy_forms_tags %}
                    <div id="new" class="tab-pane  active">
                        <div class="row">
                            <div class="col-lg-3">

                            </div>
                            <div class="col-lg-6">
                                <div class="card shadow">
                                    <div class="card-body shadow">
                                        <form method="POST" target="">{% csrf_token %}
                                            {{expends|crispy}}
                                            <br>
                                            <a href="" class="btn btn-danger float-right ml-3 shadow">Clear</a>
                                            <input class="btn btn-primary float-right shadow" type="submit"
                                                value="Submit" id="clic">
                                        </form>


                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">

                            </div>
                        </div>
                    </div>

                    <!-------------------- View Expenditure ----------------------->

                    <div id="view" class="tab-pane">
                        <div class="table-responsive ">
                            <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Expenditure Name</th>
                                        <th>Payment Type</th>
                                        <th>Amount</th>
                                        <th>Date</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                        <th>Reports</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    {% for x in expenditure %}
                                    <tr>
                                        <td>{{x.Expenditure_Name}}</td>
                                        <td>{{x.Payment_type}}</td>
                                        <td>{{x.Amount}}</td>
                                        <td>{{x.Date}}</td>
                                        <td class="text-center"><a class="btn btn-info shadow"
                                                href="{%  url 'expend_update' x.id %}" role="button"><i
                                                    class="fas fa-edit"></i></a>
                                        </td>
                                        <td class="text-center"><a class="btn btn-danger shadow"
                                                href="{%  url 'delete_update' x.id %}" role="button"><i
                                                    class="fas fa-trash-alt"></i></a>
                                        </td>

                                        <td class="text-center"><a class="btn btn-success shadow"
                                                href="{%  url 'dataprint' x.id %}" role="button"><i
                                                    class="fas fa-download text-white"></i></a>
                                        </td>

                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>



{% endblock %}