{% extends "login/main.html" %}

{% block active_student %} active {% endblock %}

{% block body %}
{% load crispy_forms_tags %}
<form action="" method="POST">{% csrf_token %}
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-6">
                <div class="card shadow" style="width: 30rem;">
                    <div class="card-body">
                        {{student|crispy}}
                        <a class="btn btn-warning" href="{% url 'student' %}" role="button">Cancel</a>
                        <input class="btn btn-success float-right" type="submit" value="Update">
                    </div>
                </div>
            </div>
            <div class="col-lg-3">

            </div>
        </div>
    </div>
</form>





{% endblock %}