{% extends "login/main.html" %}

{% block active_home %} active {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-info text-white py-3">

            <h3 class=" mb-2 text-white "><i class="fas fa-search"></i> SEARCH STUDENT WITH NAME AND DATE</h3>
        </div>
        <div class="card-body">
            <form method="POST" target="">{% csrf_token %}
                <div class="row">

                    <div class="col-lg-3 my-3 ml-5">
                        <div class="card shadow">
                            <div class="card-header text-center bg-warning text-white">
                                <h5><i class="fas fa-calendar-alt fa-2x" style="font-size:40px;"></i> CHOOSE START DATE
                                </h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">FROM DATE</label>
                                    <input type="date" class="form-control" id="from" name="from"
                                        placeholder="ENTER START DATE" required>
                                </div>


                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3 my-3">
                        <div class="card shadow">
                            <div class="card-header text-center bg-success text-white">
                                <h5><i class="fas fa-calendar-alt fa-2x" style="font-size:40px;"></i> CHOOSE END DATE
                                </h5>
                            </div>
                            <div class="card-body">

                                <div class="form-group">
                                    <label for="exampleFormControlInput1">TO DATE</label>
                                    <input type="date" class="form-control" id="to" name="to"
                                        placeholder="ENTER END DATE" required>
                                </div>




                            </div>
                        </div>
                    </div>

                    {% load crispy_forms_tags %}

                    <div class="col-lg-3 my-3">
                        <div class="card shadow">
                            <div class="card-header text-center bg-secondary text-white">
                                <h5><i class="fas fas fa-file-signature" style="font-size:40px;"></i> SELECT NAME
                                </h5>
                            </div>
                            <div class="card-body">
                                {{students|crispy}}
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 my-3">

                        <div class="col-lg-12 my-4 ">
                            <button type="submit" class="btn btn-success btn-lg btn-block clic"><i
                                    class="fas fa-search"></i> Find
                                Data</button>
                        </div>



                    </div>

                </div>



            </form>
        </div>
    </div>

</div>

<br>
<hr>

<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="card-body">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header bg-info py-3">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class=" mb-2 text-white "><i class="fas fa-rupee-sign"></i> STUDENT FEES TABLE</h3>
                    </div>
                    {% if id%}
                    <div class="col-md-6">
                        <a class="btn btn-warning shadow text-white float-right" href="{% url 'std_rpt' frm to id %}"
                            role="button"><i class="fas fa-download fa-sm text-white"></i> Download
                            Reports</a>

                    </div>
                    {% elif frm and to %}
                    <div class="col-md-6">
                        <a class="btn btn-warning shadow text-white float-right" href="{% url 'std_rpt_date' frm to %}"
                            role="button"><i class="fas fa-download fa-sm text-white"></i> Download
                            Reports</a>

                    </div>
                    {% endif %}
                </div>


            </div>



            <!-- {% if messages %}
            {% for msg in messages %}


            <div class="alert alert-info alert-dismissible fade show" role="alert" id="msg">
                <strong>Alert : </strong> <b>{{msg}}</b>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            {% endfor %}

            {% endif %} -->
            <!-- Page Heading -->
            <div class="card mx-3 my-5 shadow">
                <div class="card-header">

                </div>

                <div class="tab-content card-body">
                    <!-------------------- View Student ----------------------->


                    <div class="table-responsive ">
                        <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Standard</th>
                                    <th>Payment Type</th>
                                    <th>Fees Paid</th>
                                    <th>Date</th>



                                </tr>
                            </thead>
                            <tbody>

                                {% for x in data_by_date %}
                                <tr>
                                    <td>{{x.Student.first_name}}</td>
                                    <td>{{x.Student.last_name}}</td>
                                    <td>{{x.Student.standard}}</td>
                                    <td>{{x.payment_type}}</td>
                                    <td>{{x.amount}}</td>
                                    <td>{{x.date}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>



{% endblock %}